.won {
  color: #00bfff; /* deep skyblue */
  }
.lost {
  color: #ff4500; /* orange red */
  }
.streak_positive {
  color: #00bfff; /* deep skyblue */
  }
.streak_negative {
  color: #ff4500; /* orange red */
  }
.button_press {
  background-color: #deb887; /* burly wood */
  }
#player_list {
  width: 910px;
  }
