{% extends "base.html" %}
{% block title %}プレイヤーリスト{% endblock %}
{% block body %}

<table>
  <tbody>
    <tr>
      <th>順位</th>
      <th>レート</th>
      <th>先月比</th>
      <th>名前</th>
      <th>参戦数</th>
      <th>勝</th>
      <th>敗</th>
      <th>勝率</th>
      <th>連勝</th>
    </tr>
    {% for player in players %}
    <tr>
      <td>{{ player.rank }}</p>
      <td>{{ player.rate }}</p>
      <td>{{ player.rate_diff_30 }}</p>
      <td>{{ player.name }}</p>
      <td>{{ player.games }}</p>
      <td>{{ player.won }}</p>
      <td>{{ player.lost }}</p>
      <td>{{ player.won_freq }}</p>
      <td>{{ player.streak }}</p>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}
