{#  DataTables推奨バージョンのjQuery-1.11.3 #}
<script type="text/javascript" charset="utf8" src="{{ url_for('static', filename='jquery-1.11.3.min.js')}}"></script>

{# DataTablesのインストール（jsとcss） #}
<script type="text/javascript" charset="utf8" src="{{ url_for('static', filename='jquery.dataTables.min.js')}}"></script>
<link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='jquery.dataTables.min.css')}}">

{# DataTablesの拡張FixedHeaderのインストール #}
<script type="text/javascript" charset="utf8" src="{{ url_for('static', filename='fixedHeader.dataTables.min.js')}}"></script>
<link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='fixedHeader.dataTables.min.css')}}">

{# このページのスタイル #}
<link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='player_list.css')}}">


<script>
  {# フィルター #}
  $.fn.dataTable.ext.search.push(
    function(settings, data, dataIndex){
      {# レートがn以上m以下 #}
      var rate_min = parseInt($("#rate_min").val(), 10);
      var rate_max = parseInt($("#rate_max").val(), 10);
      var rate = parseInt(data[1]) || 0; {# 「レート」列の値 #}

      {# n日以内に参戦した #}
      var seconds_within = parseInt($("#days_within").val(), 10) * 24 * 60 * 60;
      var now = Math.floor($.now() / 1000);  {# タイムスタンプ(ミリ秒) / 1000 #}
      var last_game_timestamp = parseInt(data[10]) || 0; {# 「最終参戦」列の値 #}
      var elapsed = now - last_game_timestamp;
      var active = elapsed <= seconds_within;  {#どちらかがNaNの場合もfalse #}
      if (isNaN(elapsed) || isNaN(seconds_within)) {
        active = true; {# 入力がない場合は絞り込まない #}
      }

      {# 参戦数がn以上m以下 #}
      var games_min = parseInt($("#games_min").val(), 10);
      var games_max = parseInt($("#games_max").val(), 10);
      var games = parseInt(data[4]) || 0; {# 「参戦数」列の値 #}

      if (
          active && (
            (isNaN(rate_min) && isNaN(rate_max)) ||
            (isNaN(rate_min) && rate <= rate_max) ||
            (rate_min <= rate && isNaN(rate_max)) ||
            (rate_min <= rate && rate <= rate_max)
          ) && (
            (isNaN(games_min) && isNaN(games_max)) ||
            (isNaN(games_min) && games <= games_max) ||
            (games_min <= games && isNaN(games_max)) ||
            (games_min <= games && games <= games_max)
          )
        ){
        return true;  {# 表示 #}
        }
      return false; {# 非表示 #}
      });

  $(document).ready(function(){
    {# 連勝・連敗数にテキストをつける。負の値が連敗 #}
    $(".streak").each(function(){
      var streak_ = parseInt(this.textContent, 10);
      if (streak_ < -1) {
        this.textContent = Math.abs(streak_).toString() + "連敗";
        this.classList.add("streak_negative");
        }
      else if (1 < streak_) {
        this.textContent = streak_.toString() + "連勝";
        this.classList.add("streak_positive");
        }
      else {
        this.textContent = "";
        }
      });

    {# DataTableオブジェクトの構築 #}
    var table = $("#player_list").DataTable({
      paging: false,
      fixedHeader: true, {# 表をスクロールしてもヘッダーを画面内に留める #}

      {# 標準の検索ボックスを非表示として、代わりにinfoを表示 #}
      "sDom": "<'top'i>rt<'clear'>",
      "language": {
        "infoEmpty": "該当無し",
        "info": "_START_-_END_件目を表示（全_MAX_件） ",
        "infoFiltered": "",
        },

      {# 表の行数を表示 #}
      "columnDefs": [{
        "searchable": false,
        "orderable": false,
        "targets": 0
        }],

      {# 標準の並び順をレート高い順にする #}
      "order": [[1,'desc']],
    });

    {# 表の行数を表示 #}
    table.on("order.dt search.dt", function () {
      table.column(0, {search:"applied", order:"applied"}).nodes().each( function (cell, i) {
        cell.innerHTML = i+1;
        });
      }).draw();

    {# テキストボックスの更新に対応するイベントハンドラ #}
    $("#rate_min, #rate_max, #days_within, #games_min, #games_max").keyup(function(){
      {# フィルターを適用したら、偏差値を再計算する #}
      $.when(table.draw()).done(update_std_score(table));
      });

    update_std_score(table);

  });


  function update_std_score(table){
    var rows = table.$("tr", {"filter": "applied"}); {# フィルター後の各行 #}
    var rates = [];
    rows.each(function(){
      rates.push(parseInt(this.getElementsByClassName("rate")[0].textContent, 10));
      });
    rows.each(function(){
      rate = parseInt(this.getElementsByClassName("rate")[0].textContent, 10);
      this.getElementsByClassName("std_score"
          )[0].textContent = get_std_score(rate, rates);
      });
    }

  function get_std_score(rate, rates){
    var n = rates.length;
    if (n == 1){
      return 0;
      }
    var sum = rates.reduce(function(a, b){  {# python: sum(rates) #}
      return a + b;
      });
    var avg = sum / n;
    {# python: sigma_x = math.sqrt(sum([(rate - avg)**2 for rate in rates]) / float(n)) #}
    var sigma_x = Math.sqrt(
      {# python: list_ = [(rate - avg)**2 for rate in rates] #}
      rates.map(function(rate_){
        return Math.pow((rate_ - avg), 2);
        }
      {# python: sum(list_) #}
      ).reduce(function(a, b){
        return a + b;
        }
      ) / n);
    var std_score = (((rate - avg) * 10) / sigma_x) + 50;
    return padding(round_(std_score, 3), 2);
    }

  function round_(float_, n){
    {# 小数第n位で四捨五入 #}
    var m = Math.pow(10, n-1);
    return Math.round(float_ * m) / m;
    }

  function padding(float_, n){
    {# 小数第n位まで0でパディング #}
    var s = float_.toString();
    if (0 <= s.indexOf(".")) {
      var l = s.split(".")[1].length;
      if (l < n) {
        s += "0".repeat(n - l);
        }
      }
    else {
      s += "." + "0".repeat(n);
      }
    return s;
    }

</script>
