{% extends "base.html" %}
{% block title %}プレイヤーリスト{% endblock %}

{% block scripts %}
{% include "player_list.js.html" %}
{% endblock %}

{% block body %}
<table class="search">
  <tbody>
    <tr>
      <td><input id="view_all" name="view_all" type="button" value="全部表示"></td>
    </tr>
  </tbody>
</table>
<table class="search" border="0" cellpadding="5" cellspacing="5">
  <tbody>
    <tr>
      <td>
        レート
        <input id="rate_min" name="rate_min" type="text">
        以上
        <input id="rate_max" name="rate_max" type="text">
        以下
      </td>
    </tr>
    <tr>
      <td>
        参戦数
        <input id="games_min" name="games_min" type="text">
        以上
        <input id="games_max" name="games_max" type="text">
        以下
      </td>
    </tr>
  </tbody>
</table>
<table class="search">
  <tbody>
    <tr>
      <td>
        <input class="days" name="days" type="button" value="全期間">
        または
        <input class="days" name="days" type="button" value="7">
        <input class="days" name="days" type="button" value="30">
        <input class="days" name="days" type="button" value="60">
        日以内
      </td>
      <td><input id="days_within" name="days_within" type="hidden" value="30"></td>
    </tr>
  </tbody>
</table>
<table class="display" id="player_list">
  <thead>
    <tr>
      <th></th>
      <th>名前</th>
      <th>レート</th>
      <th>先月比</th>
      <th>参戦数</th>
      <th>勝</th>
      <th>敗</th>
      <th>勝率</th>
      <th>偏差値</th>
      <th>連勝</th>
      <th style="display:none;">最終参戦</th>
      {# 最終参戦から60日以内の勝敗とタイムスタンプがJSONで来るが、さらに描画時点で60日以内に絞る。 #}
      <th style="display:none;">直近の勝敗</th>
      {# 表示期間を全期間に戻すときに再読み込みするための値 #}
      <th style="display:none;">トータル参戦数</th>
      <th style="display:none;">トータル勝利数</th>
      <th style="display:none;">トータル敗北数</th>
      <th style="display:none;">トータル勝率</th>
    </tr>
  </thead>
  <tbody>
    {% for player in players %}
    <tr>
      <td></td>
      <td class="name">{{ player.name }}</td>
      <td class="rate">{{ player.rate }}</td>
      <td class="rate_diff_30">{{ player.rate_diff_30 }}</td>
      <td class="games">{{ player.games }}</td>
      <td class="won">{{ player.won }}</td>
      <td class="lost">{{ player.lost }}</td>
      <td class="won_freq">{{ player.won_freq }}</td>
      <td class="std_score"></td>
      <td class="streak">{{ player.streak }}</td>
      <td style="display:none;">{{ player.last_game_timestamp }}</td>
      <td class="recent_results" style="display:none;">{{ player.result_last_60_days }}</td>
      {# 表示期間を全期間に戻すときに再読み込みするための値 #}
      <th class="games_total" style="display:none;">{{ player.games }}</th>
      <th class="won_total" style="display:none;">{{ player.won }}</th>
      <th class="lost_total" style="display:none;">{{ player.lost }}</th>
      <th class="won_freq_total" style="display:none;">{{ player.won_freq }}</th>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}
